
<mat-divider></mat-divider>

<div  class="navbar" >

    <mat-nav-list >

      <!---->

      <div *ngIf="!(afAuth.authState | async)"class="profile-card">
         <img class="image2" src="/assets/img/menu.png">
      </div>

      <div  *ngIf="afAuth.authState | async as user"class="profile-card">

        <div *ngIf="afAuth.authState | async as user" class="header">
          <h2>{{ user.displayName}}</h2>
       </div>

       <div class="user-logged"*ngIf="afAuth.authState | async as user">
        <img class="image1" *ngIf="user.photoURL" src="{{ user.photoURL }}">
        <img class="image2" *ngIf="!user.photoURL " src="/assets/img/menu.png">
        </div>
        </div>

        <mat-divider></mat-divider>

        <h2 matSubheader class="subheader">Pages</h2>

        <button type="button" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/" (click)="toggleSideBar()"> <mat-icon>home</mat-icon>Home</a>
        </button>
        <button type="button" *ngIf="!(afAuth.authState | async)" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" (click)="login()"><mat-icon>https</mat-icon>Login</a>
        </button>
        <button type="button" *ngIf="!(afAuth.authState | async)" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" (click)="login()"><mat-icon>ballot</mat-icon>Sign up</a>
        </button>
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" routerLink="profile" (click)="toggleSideBar()"><mat-icon>person_add</mat-icon>Profile</a>
        </button>


        <h2 matSubheader class="subheader">Tools</h2>

        <button type="button" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
          <mat-icon>import_contacts</mat-icon>
          Contacts
          </a>
        </button>

        <button type="button" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
          <mat-icon>contact_phone</mat-icon>
          Leads
          </a>
        </button>

        <button type="button" *ngIf="(afAuth.authState | async)" class="btn btn-outline-dark btn-lg btn-block">
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers" (click)="afAuth.auth.signOut()"><mat-icon>exit_to_app</mat-icon>Sign out</a>
        </button>

        <br>

        <div class="container d-flex justify-content-center mt-200">
          <div class="row">
              <div class="col-md-12">
                  <div class="stars">
                      <form action=""> <input class="star star-5" id="star-5" type="radio" name="star" /> <label class="star star-5" for="star-5"></label> <input class="star star-4" id="star-4" type="radio" name="star" /> <label class="star star-4" for="star-4"></label> <input class="star star-3" id="star-3" type="radio" name="star" /> <label class="star star-3" for="star-3"></label> <input class="star star-2" id="star-2" type="radio" name="star" /> <label class="star star-2" for="star-2"></label> <input class="star star-1" id="star-1" type="radio" name="star" /> <label class="star star-1" for="star-1"></label> </form>
                  </div>
              </div>
          </div>
      </div>



        <mat-divider></mat-divider>

       </mat-nav-list>

</div>

