:host {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ffffff;



}
.navbar {


  background-color: rgb(0, 0, 0);







  .subheader {
    color: var(--text-primary);

  }

.mat-list-item  {
  color: var(--text-secondary);
  font-size: 20px;



}

.rate{
  vertical-align: middle;

}

button{

  width: 18rem;

  :hover{
    padding-left: 10px;
  }

}
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
    size: 20px;
    color: var(---text-secondary);
  }

  .header{
    color: white;

  }



  .profile-card {
  text-align: center;
  overflow: hidden;
  color: var(--text-secondary);
  height: 250px;
  padding-top: 50px;

  .image1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;

  }

  .image2 {
    width: 160px;
    height: 150px;



  }




}







}


