
li {
  list-style: none;
  padding-top: 15px;
  width: auto;
}

.header {
  font-family: 'Poppins', sans-serif;
  background: transparent;
  position: fixed;
  z-index: 999;


  color: rgb(19, 8, 80);




}

.bnt{
  background: transparent;
  border: none;
}





.header:hover{


    background: #080808b4;
    color: white;

}





