.mat-card{

  border-radius: 50px;
  font-family: 'Poppins', sans-serif;


}

.mat-form-field{
  width: 20rem;
}
.btn{
  border-radius: 10px;
  margin-bottom: 20px;

}


.icon{
 vertical-align: -10px;
 margin-right: 10px;
 font-size: 30px;
}
