
.jumbotron{



  font-family: 'Poppins', sans-serif;
  background-color:transparent;
  text-align: left;
  cursor: pointer;
  max-height: 70%;
  max-width: 80%;


  .display-4{
    font-size: 60px;
  }



  .h2{
    font-size: 60px;


  }


  .lead{
    font-size: 25px;
  }


 }


 .btn{
   border-radius: 20px;
   width: 200px;
 }

 .btn:hover{
   box-shadow: 5px 5px 5px rgba(8, 8, 8, 0.8);
 }

 .image{
   width: 90%;

 }

