<header>
   <p data-item='Usful'> Links</p>
   <p data-item='To Get '>Started</p>
</header>
<div class="band">
  <div class="item-1">
    <a href="https://angular.io/" class="card">
      <div class="thumb">
        <img src="/assets/img/angular.png" class="img-fluid" alt="Responsive image">
      </div>
      <article>
        <h2>Angular: <br> One Framework - Mobile & Desktop</h2>
        <span>angular.io</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="https://getbootstrap.com/" class="card">
      <div class="thumb">
      <img src="/assets/img/bootstrap.png" class="img-fluid" alt="Responsive image">
    </div>
      <article>
        <h2>Bootstrap:<br> the world's most popular front-end toolkit</h2>
        <span>getbootstrap.com</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="https://material.angular.io/" class="card">
      <div class="thumb">
      <img src="/assets/img/angularmaterial.jpg" class="img-fluid" alt="Responsive image">
    </div>
      <article>
        <h2>Material Design components for Angular</h2>
        <p>High quality
          Internationalized and accessible components for everyone. </p>

        <span>material.angular.io</span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="https://firebase.google.com/" class="card">
      <div class="thumb">
      <img src="/assets/img/firebase4.png" class="img-fluid" alt="Responsive image">
    </div>
      <article>
        <h2>Firebase: A comprehensive app development platform</h2>
        <p>Build apps fast, without managing infrastructure.</p>
        <span>firebase.google.com</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="https://www.typescriptlang.org/" class="card">
      <div class="thumb">
      <img src="/assets/img/typescript.png" class="img-fluid" alt="Responsive image">
    </div>
      <article>
        <h2>Typed JavaScript at Any Scale.</h2>
        <p>TypeScript saves you time catching errors and providing fixes before you run code.</p>
        <span>typescriptlang.org</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://code.visualstudio.com/" class="card">
      <div class="thumb">
      <img src="/assets/img/vcode.png" class="img-fluid" alt="Responsive image">
    </div>
      <article>
        <h2>Code editing. Redefined.</h2>
        <p>Free. Built on open source. Runs everywhere.</p>
        <span>code.visualstudio.com</span>
      </article>
    </a>
  </div>
</div>
