footer {
  color: white;
  text-align: center;

  background-image: url('/assets/img/background3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 3rem;

}
