<mat-grid-list [cols]="breakpoint" rowHeight="1:0.9" (window:resize)="onResize($event)">

  <mat-grid-tile>
    <div class="image1">
      <img src="/assets/img/angular.png" class="img-fluid" alt="Responsive image">
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image2">
      <img src="/assets/img/html.png" class="img-fluid" alt="Responsive image">
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image3">
      <img src="/assets/img/sass.png" class="img-fluid" alt="Responsive image">
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="image4">
      <img src="/assets/img/firebase.png" class="img-fluid" alt="Responsive image">
    </div>

  </mat-grid-tile>




</mat-grid-list>
